.contactPage {
  background-color: var(--light-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.contactContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 80px;
}

.contactBlock {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitleBlock {
  margin-bottom: 30px;
}

.innerContactBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.phone, .email {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 15px;
}

.number, .emailAddress {
  color: var(--green);
}

.imgBlock {
  width: 50%;
  height: 100%;
  position: relative;
}

.picPerson {
  max-width: 80%;
  position: absolute;
  bottom: 0;
}