.socialList {
  display: flex;
}

.icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: var(--white);
  margin-right: 1.875rem;
  transition: all .3s;
}

.icon:hover {
  fill: var(--green);
}

@media (max-width: 768px)  {
  .icon:last-child {
    margin: 0 1.25rem;
  }
}