.servicesPage {
  background-color: var(--smoke);
  width: 100%;
  min-height: 100vh;
  padding-top: 7rem;
}

.servicesContainer {
  padding: 0 1.25rem 5rem 1.25rem;
  display: flex;
  flex-direction: column;

}

.titleBlock {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.servicesWelcome {
  margin-bottom: 1.075rem;
  color: black;
  width: 80%;
  margin: 0 auto;
  /*font-size: 1.1875rem;*/
}

.linkSyke {
  margin: 0 0.625rem;
  color: var(--green);
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid var(--green);
}

.servicesBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.servicesLink {
  padding: 1.25rem;
  color: var(--black);
}

.servicesText {
  text-align: left;
}

.buttonBlock {
  text-align: center;
}


@media (max-width: 768px) {
  .servicesContainer {
    padding-bottom: 8rem;
  }

  .servicesWelcome {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .servicesPage {
    padding-top: 5rem;
  }

  .titleBlock {
    display: flex;
    justify-content: center;
  }

  .servicesWelcome {
    margin-bottom: 1.5rem;
    color: black;
    font-size: 1.0625rem;
    text-align: left;
  }

  .linkSyke {
    margin: 0 0.5rem;
    color: var(--green);
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid var(--green);
  }

  .textBlock {
    text-align: left;
  }

}