.header {
  position: fixed;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  z-index: 1001;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 2.5rem;
}

.logoBlock {
  text-align: center;
}

.logo {
  color: var(--green);
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

.list {
  display: flex;
}

.item {
  margin-right: 2rem;
}

.link {
  color: var(--white);
  font-size: 1.25rem;
  transition: all .3s;
}

.link:hover {
  color: var(--green);
}

.item:last-child {
  margin-right: 0;
}

.activeLink {
  color: var(--green);
  border-bottom: 1px solid var(--green);
}

@media (max-width: 480px) {
  .logo {
    display: none;
  }

  .link {
    font-size: .8rem;
  }

  .item {
    margin-right: .75rem;
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4rem;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.1rem;
  }

  .link {
    font-size: 1rem;
  }

  .item {
    margin-right: 1rem;
  }
}

@media (max-width: 1024px) {
  .logo {
    font-size: 1.5rem;
  }

  .link {
    font-size: 1rem;
  }
}