.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0, .8);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}

.title {
  color: var(--blue);
  font-weight: bold;
  font-size: 36px;
}

.list {
  display: flex;
}

.item {
  margin-right: 20px;
}

.item a {
  color: var(--white);
}

.item:last-child {
  margin-right: 0;
}