.header {
  position: fixed;
  background-color: rgba(0,0,0, .8);
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}

.logo {
  color: var(--blue);
  font-weight: bold;
  font-size: 32px;
}

.list {
  display: flex;
}

.item {
  margin-right: 20px;
}


.link {
  color: var(--white);
  font-size: 20px;
}

.link:hover {
  color: var(--green);
  border-bottom: 1px solid var(--green);
}

.item:last-child {
  margin-right: 0;
}